@charset "utf-8";
/* CSS Document */
@import url(common.css);
#b_img { /* 상단 이미지 */
	position: relative;
	width: 100%; height: 244px;
	background: url(../images/index/bottom_bg.jpg) no-repeat center/cover;
}
#cont_wrap {
	position: relative;
	margin: 0 auto;
	width: 960px;height: 100%;
}
#route {
	position: relative;
	margin-top: 20px;
	font-size: 12px;
}
#t_wrap {	/*타이틀 감싸기*/
	position: relative;
	margin: 65px auto;
	width: 550px;height: 150px;
}
#title {	/*뷰티앤헬스/뷰티앤헬스 프로그램*/
	position: absolute;
	left: 50%;	transform: translateX(-50%);
	-webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); -moz-transform:translateX(-50%);
	width: 291px;	height: 74px;
	background: url(../images/beautyhealth/bh_title.png) no-repeat;
}
#lnb {	/*어바웃 다이어트 빌드업 클린 버튼*/
	width: 670px;
	position: absolute;
	bottom: 0;left: 50%;transform: translateX(-50%);
	-webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); -moz-transform:translateX(-50%);
}
#lnb>li {
	width: 160px;height: 40px;
	border: 1px solid #222;
	float: left;
	text-align: center;	line-height: 38px;
	font-size: 18px;
	margin-left: 5px;
	cursor: pointer;
}
#lnb>li:first-child {
	background-color: #ff1937;
	color: #fff;
}
#PB {
	position: relative;
	width: 700px;height: 215px;
	background-color: #eee;
	margin: 0 auto;
}
#PB h2 {
	text-align: center;
	font: 27px ARLRDBD;
	margin-bottom: 5px;
	height: 40px;
}
#priceBox {
	position: absolute;
	top: 31px;left: 65px;
	width: 242px;
}
#PB ul {
	position: relative;
	height: 45px;
}
#PB li {	float: left;}
#priceBox .size {
	margin-right: 20px;
	font: 20px ARLRDBD;
}
#PB .check {
	width: 25px;height: 24px;
	margin-right: 10px;
	background: url(../images/beautyhealth/check.png) no-repeat;
}
#priceBox .price {
	position: absolute;
	right: 0;
}
#benefit {
	position: absolute;
	top: 31px;right: 62px;
	width: 248px;
}
#benefit .beneTxt {	font: bold 20px NanumSquareR;}
#benefit span {	font: bold 12px NanumSquareR;}
.icon {
	position: absolute;
	width: 48px;	height: 37px;
	background: url(../images/beautyhealth/icon.png) no-repeat;
}
h1{
	position: absolute;
	left: 65px;
	font: bold 36px NanumSquareR;
}
#BH01 {				 /*뷰티앤헬스 프로그램이란?*/
	position: relative;
	margin-top: 55px;
	width: 960px;	height: 510px;
}
#BH_title1 {
	position: relative;
	width: 585px;height: 37px;
	margin: 0 auto;
}
#contBox{
	position:absolute;
	bottom:0;left:50%; transform:translateX(-50%);
	-webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); -moz-transform:translateX(-50%);
	width:896px;	height:276px;	
}
.contents{
	position:relative;
	width:272px;	height:272px;
	border:2px solid #e5e5e5;
	float:left;
}
#BH01 .bgcolor{
	background-color:#e5e5e5;
	margin:0 34px;
}
.contents>h3{
	font:600 24px NanumSquareR;
	text-align:center;
	margin-top:30px;
}
#dietIcon{
	position:absolute;
	left:50%;	transform:translateX(-50%);
	-webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); -moz-transform:translateX(-50%);
	width:83px; height:83px;
	margin-top:35px;
	background:url(../images/beautyhealth/diet.png) no-repeat;
}
#buildupIcon{
	position:absolute;
	left:50%;	transform:translateX(-50%);
	-webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); -moz-transform:translateX(-50%);
	width:135px; height:92px;
	margin-top:30px;
	background:url(../images/beautyhealth/buildup.png) no-repeat;
}
#cleanIcon{
	position:absolute;
	left:50%;	transform:translateX(-50%);
	-webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); -moz-transform:translateX(-50%);
	width:84px; height:92px;
	margin-top:20px;
	background:url(../images/beautyhealth/clean.png) no-repeat;
}
.contents p{
	font:16px/19px NanumSquareR;
	text-align:center;
}
#txt01{
	position:absolute;
	top:191px; left:50%; transform:translateX(-50%);
	-webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); -moz-transform:translateX(-50%);
	width:200px;
}
#txt02{
	position:absolute;
	top:204px; left:50%; transform:translateX(-50%);
	-webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); -moz-transform:translateX(-50%);
	width:200px;
}
#txt03{
	position:absolute;
	top:185px; left:50%; transform:translateX(-50%);
	-webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); -moz-transform:translateX(-50%);
	width:200px;
}
#BH02 {			/*이런 분들께 권해 드립니다.*/
	position: relative;
	margin-top:55px;
	width: 960px;	height: 200px;
}
#BH_title2 {
	position: relative;
	width: 465px;height: 37px;
	margin: 0 auto;
}
p{
	position: absolute;
	top:74px;
	font: 18px/27px NanumSquareR;
}
.txtcolor{	color: #d80c27;}
#BH03 {				/*CHECK! 내 몸에 맞는 프로그램 찾기*/
	position:relative;
	margin-top:55px;
	width: 960px;height: 834px;
}
#BH_title3 {
	position:relative;
	width: 600px;height: 37px;
	margin: 0 auto;
}
#chknote{
	position:absolute;
	top:73px; left:50px;
	width:557px;	height:761px;
	background:url(../images/beautyhealth/checknote.png) no-repeat;
}
#resTitle{
	position:relative;
	margin-top:121px; margin-left:738px;
	width:192px;	height:137px;
}
#resTitle h4{
	position:absolute;
	font:bold 30px NanumSquareR;
}
#glass{
	position:absolute;
	left:54px;
	width:139px;	height:137px;
	background:url(../images/beautyhealth/glass.png) no-repeat;
	opacity:0.3;
}
#result{margin-left:673px;}
#result ul{
	width:230px;	height:71px;
	margin-bottom:42px;
}
#result li:first-child{
	font:18px NanumSquareR;
	margin-bottom:15px;
}
#result li:nth-child(2){	font:bold 24px NanumSquareR;}
#result .res{	font:bold 36px NanumSquareR;}

#result>ul>#res01{color:#8dc63f;}
#result>ul>#res02{color:#f7941d;}
#result>ul>#res03{color:#d80c27;}

#result>ul>#res01>.item1{color:#8dc63f;}
#result>ul>#res02>.item2{color:#f7941d;}
#result>ul>#res03>.item3{color:#d80c27;}

#BH04{
	position:relative;
	width:960px;	height:252px;
}
#BH04>h3{
	position:absolute;
	top:70px; left:50%; transform:translateX(-50%);
	-webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); -moz-transform:translateX(-50%);
	font:bold 18px NanumGothicR;	
}
#BH04>p{
	position:absolute;;
	top:100px; left:50%; transform:translateX(-50%);
	-webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); -moz-transform:translateX(-50%);
	width:700px;
	font:14px NanumGothicR;
	text-align:center;
}
#f_bg{
	position:relative;
	width:100%; height:50px;
	background-color:#ddd;
}